.list-wrapper {
  height: 100%;
  overflow: scroll;
  .cate-list {
    float: left;
    width: 25%;
    height: 100%;
    overflow: scroll;
    .cate-item {
      padding: pxTurnToRem(20px) 0 pxTurnToRem(20px) pxTurnToRem(10px);
      word-wrap: break-word; 
      word-break: break-all;
      &.active {
        background-color: #fff;
      }
    }
  }
  .menu-list {
    float: right;
    width: 75%;
    height: 100%;
    overflow: scroll;
    background-color: #fff;
    .title {
      border-left: 2px #ffc85b solid;
      padding: 0 5px;
    }
  }
}