{

  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "parser": "babel-eslint",

  // 不检查
  "globals": {
    "window": true,
    "document": true,
    "module": true,
    "require": true
  },

  // 关闭必须声明prop-types
  "rules": {
    "react/prop-types": "off"
  }

}